{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "courses" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Meet Our Wonderful Staff</h3>

      <h4>Brendon Anderson</h4>
      
      <h5>Owner</h5>
      <p>BrendonBakedGoods@gmail.com</p>
      <p>696-223-7730</p>


      <h4>Jacob Rich</h4>
      <h5>Head Baker</h5>
      <p>Jrichheadbaker54@gmail.com</p>
      <p>555-444-3333</p>

      <h4>Niko Naduea</h4>
      <h5>Chief Accountant</h5>
      <p>iLovenumbers221@gmail.com</p>
      <p>643-778-0084</p>

      <h4>Chris Donaghey</h4>
      <h5>Marketing Specialist</h5>
      <p>Yayyayyayyay@gmail.com</p>
      <p>612-532-6060</p>




      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </p>
    </div>
    
  </div>
</div>
{% endblock %}
